.html{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 0;
	vertical-align: baseline;
}
.body{
	font-family: sans-serif;
}
.head{
		display: flex;
		justify-content: center;
		align-items: space-between;
		height: 110px;
		background-color: #FFC8C8;
		position: fixed;
		width: 98.5%;
		z-index: 100;
		border-width: 2px;
		border-style: solid;
		border-color: black;
		border-radius: 20px;
}
.navbar{
	display: flex;
	margin-right: 850px;
	margin-left: 270px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.logo{
	display: flex;
	margin-left: 420px;
}
.navbar a{
	display: block;
	padding: 10px;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
}
.navbar a:hover {

	background-color: #FC5959;
} 
.title{
	font-size: 30px;
}
.contenido{
	margin: auto;
	text-align: center;
	font-size: 25px;
	padding: 70px;
}
.title2{
	font-size: 30px;
}
.video{
	text-align: center;
	font-size: 30px;
}
.youtube{
	text-align: center;
	margin: 0 auto;
}
.ubicacion{
	margin: 0 auto;
	text-align: center;
}
.autor{
	display: flex;
	justify-content: center;
	margin: auto;
	text-align: center;
	font-size: 7px;
	background-color: #FB6767;
	border-radius: 20px;
}